body{
      background-image: url(https://cdn-images.audioaddict.com/4/3/e/0/a/2/43e0a23fa2e30d0e3da528f4de5b2ec2.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}



